<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Image page</title>

    <script>

        function setImagePreview() {
            const contentType = document.getElementById('imageContentType').value;
            const content = document.getElementById('image').value;
            const previewEl = document.querySelector('img');
            previewEl.src = 'data:' + contentType + ';base64,' + content;
        }

        //https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL
        function previewFile() {
            const file = document.querySelector('input[type=file]').files[0];
            const reader = new FileReader();

            reader.addEventListener("load", function () {
                const preview = document.querySelector('img');
                preview.src = reader.result;
                const imageHidden = document.getElementById('image');
                imageHidden.value = reader.result.substring(reader.result.indexOf(';base64,') + 8);
                const imageContentTypeHidden = document.getElementById('imageContentType');
                imageContentTypeHidden.value = file.type;
            }, false);
            if (file) {
                reader.readAsDataURL(file);
            }
        }
    </script>
</head>
<body onload="setImagePreview()">

<section>
    <form action="#" th:action="@{/}" th:object="${binaryData}" method="post">
        <img id="image-display" th:src="'data:' + *{imageContentType} + ';base64,' + *{image}" width="200px"
             height="200px">
        <input id="imageContentType" name="imageContentType" type="hidden" th:value="*{imageContentType}">
        <input id="image" name="image" type="hidden" th:value="*{{image}}">
        <input type="file" id="id-input" onchange="previewFile()">
        <input type="submit">
    </form>
</section>

</body>
</html>