<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Content page</title>
    <script>
        //https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL
        function previewFile() {
            const preview = document.querySelector('img');
            const file = document.querySelector('input[type=file]').files[0];
            const reader = new FileReader();

            reader.addEventListener("load", function () {
                // convert image file to base64 string
                preview.src = reader.result;
                const imageHidden = document.getElementById('image');
                imageHidden.value = reader.result.substring(reader.result.indexOf(';base64,') + 8);
                const imageContentTypeHidden = document.getElementById('imageContentType');
                imageContentTypeHidden.value = file.type;
            }, false);
            if (file) {
                reader.readAsDataURL(file);
            }
        }
    </script>
</head>
<body>

<section layout:fragment="content">
    <form action="#" th:action="@{/}" th:object="${user}" method="post">
        <img id="image-display" th:src="'data:' + *{imageContentType} + ';base64,' + *{imageStr}" width="200px" height="200px">
        <input id="imageContentType" name="imageContentType" type="hidden" th:value="*{imageContentType}">
        <input id="image" name="image" type="hidden" th:value="*{imageStr}">
        <input type="file" id="id-input" onchange="previewFile()">Upload</input>
        <input type="submit">
    </form>
</section>

</body>
</html>